@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(#615dad 0%, #ffc8da 100%);
  height: 100%;

}

.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;

}

.card {
  width: 330px;
  height: 500px;
  margin: 0;
  flex-basis: 300px;
  background-color: #283e50;
  text-align: center;
  border-radius: 10px 10px;

}

.picture {
  width: 100%;
  border-radius: 10px 10px 0 0;

}

.card_title {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 2.5rem;
  margin: 15px;


}

.card_text {
  color: white;
  margin: 8px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 20px;
  line-height: 1.4;
  margin-bottom: 20px;

}

.card_footer {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;


}


.card_button1 {
  background-color: #1fcca4;
  padding: 12px 0;


}

.card_button1:hover {
  background-color: #1cbb96;
}

.card_button2 {
  background-color: #0197f6;
  padding: 12px 0;



}

.card_button2:hover {
  background-color: #0090e9;
}

a {
  padding: 8px 0;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;

}
